/* Page main */
header {
    margin: 200px 0px 60px 0px;
}

nav {
    margin: 80px;
}

body {
    background-color: #272727;
    color: white;
    font-family: 'Afacad';
    font-size: 20px;
    text-align: center;
}

.theme-blog {
    background-color: #7C5C40;
    border-radius: 10px;
    display: inline-block;
    margin: 0 15px 50px 15px;
    padding: 10px;
    width: 280px;
    height: 500px;
    text-align: left;
    vertical-align: top;
}

.theme-blog img {
    margin: 0 43px 0 43px;
    position: relative;
}

.detail-blog {
    background-color: #2F241B;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 16px;
}

.form {
    background-color: #7C5C40;
    padding: 40px;
}

.keyword-coffee {
    color: #7C5C40;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #7C5C40;
}


/* Type Coffee Page */
.list {
    background-color: #2F241B;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 16px;
}

.important-word {
    color: #7C5C40;
}